body{
	background:#393939;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:100%;
	color:#444444;
	margin:0;
	padding:0;
}

.page-body{
	background-image:linear-gradient(to bottom, #7B7B7B 0%, #2B2B2B 500px, rgba(43,43,43,0) 520px);
	background-image:-webkit-linear-gradient(top, #7B7B7B 0%, #2B2B2B 500px, rgba(43,43,43,0) 520px);
	background-image:-o-linear-gradient(top, #7B7B7B 0%, #2B2B2B 500px, rgba(43,43,43,0) 520px);
	background-image:-ms-linear-gradient(top, #7B7B7B 0%, #2B2B2B 500px, rgba(43,43,43,0) 520px);
	background-image:-moz-linear-gradient(top, #7B7B7B 0%, #2B2B2B 500px, rgba(43,43,43,0) 520px);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7B7B7B', endColorstr='#2B2B2B');
	zoom: 1;
	width:100%;
	align:center;
}

.main {
	width:960px;
	display: inline-block;
}

ul{
	margin:0;
	padding:0;
}

li{
	display: inline;
}

h1, h2, h3 {
	font-family:Arial,Helvetica,sans-serif;
	font-weight:400;
	margin:0 0 5px;
	padding:0;
}

h1{
	line-height:150%;
	font-size:150%;
	color:#585770;
	font-weight: bold;
	text-align: center;
	height: 25px;
}

h2{
	font-size:125%;
	line-height:125%;
	color:#585770;
	font-weight: bold;
	text-align: center;
	height: 22px;
}

h3{
	font-size:100%;
	line-height:100%;
	color:#585770;
	font-weight: bold;
	text-align: center;
	height: 19px;
}

.header{
	position:relative;
	width:auto;
	height:85px;
	clear:both;
	background-color: #111212;
	background-image: linear-gradient(to top, #454545, #6F6E6E);
	background-image: -webkit-linear-gradient(bottom, #454545, #6F6E6E);
	background-image: -o-linear-gradient(bottom, #454545, #6F6E6E);
	background-image: -ms-linear-gradient(bottom, #454545, #6F6E6E);
	background-image: -moz-linear-gradient(bottom, #454545, #6F6E6E);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6F6E6E', endColorstr='#454545');
	zoom: 1;
	color:#969696;
	overflow:hidden;
	padding:0px 0px 0px 0px;
}

.page-title{
	float: left;
	width: 530px;
	height: 65px;
	overflow: hidden;
	font-size: 19px;
	text-align: center;
	color: #FFFFFF;
	margin-left: 10px;
	margin-top: -10px;
	font-weight: bold;
  padding-top: 27px;
}

.page-title, .phones-text{
  text-shadow: 0 0 1px #fff, 0 0 7px #228DFF, 0 0 12px #228DFF;
	transition:0.8s ease-out;
}

.page-title:hover, .phones-text:hover {
	color:#E7FF00;
	text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #FF9900, 0 0 40px #FF9900;
  transition:0.2s ease-out;
}
.phones{
	padding-right: 25px;
	line-height: 160%;
	margin: auto;
	font-size:18px; 
	color:#FFFFFF;
	float:left;
	width:auto;
	margin-top: 10px;
	margin-left: 40px;
}
.phones-text{
	float: left;
	margin-left: 20px;
}
.logo{
	display: block;
	float:left;
	width:327px;
	height:85px;
	margin-top:10px;
	padding-right:50px;
}

.logo-text-big {
	text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
}

.logo-text-big{
	font-size:48px;
	color:#FFFFFF;
	margin-top: 15px;
	margin-left: auto;
	font-style:italic;
}
.logo-text-big:hover{
	transition:0.2s ease-out;
}

.logo-text-small{
	font-size:17px;
	color:#FFFFFF;
	margin-top: 20px;
	margin-left: auto;
}

.plain-text{
	line-height: 115%;
	font-size: 12pt;
	text-align: left;
}