.leftcol{
	float:left;
	width:239px;
	margin-top: 5px;
}

.leftmenu {
	border-left: solid 1px #AAA8A8;
	border-right: solid 1px #AAA8A8;
  width: 100%;
  float: left;
  min-height: 40px;
  height: auto;
}

.leftmenu a.menuitem{
	cursor: pointer;
	height:25px;
	display:block;
	line-height:25px;
	text-decoration:none;
	text-align: left;
	font-weight: bold;
	padding: 0px 0px 0px 10px;
	color:#646464;
	border-bottom: 1px solid #bbbbbb;
	background-image: linear-gradient(to top, #E4E4E4 0%, #FFF 21px);
	background-image: -webkit-linear-gradient(bottom, #E4E4E4 0%, #FFF 21px);
	background-image: -o-linear-gradient(bottom, #E4E4E4 0%, #FFF 21px);
	background-image: -ms-linear-gradient(bottom, #E4E4E4 0%, #FFF 21px);
	background-image: -moz-linear-gradient(bottom, #E4E4E4 0%, #FFF 21px);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#E4E4E4');
	zoom: 1;
	transition:0.5s ease-out;
}

.leftmenu a.menuitem:hover{
	color: #FF6E00;
	transition: 0.05s ease-in-out;
  padding-left: 20px;
  height:25px;
}

.module-header {
	border: solid 1px #AAA8A8;
	border-radius: 7px 7px 0px 0px;
	height: 25px;
	font-size: 16px;
	font-family: bold;
}

.module-footer {
	border-left: solid 1px #AAA8A8;
	border-right: solid 1px #AAA8A8;
	border-bottom: solid 1px #AAA8A8;
	border-radius: 0px 0px 7px 7px;
	height: 0px;
	margin-bottom: 5px;
}
.module-header, .module-footer {
	float: left;
  width: 100%;
	font-size: 16px;
	font-family: bold;
	padding-top: 8px;
	background-color: #ECECEC;
	background-image: linear-gradient(to top, #E4E4E4, #FFF 100%);
	background-image: -webkit-linear-gradient(bottom, #E4E4E4, #FFF 100%);
	background-image: -o-linear-gradient(bottom, #E4E4E4, #FFF 100%);
	background-image: -ms-linear-gradient(bottom, #E4E4E4, #FFF 100%);
	background-image: -moz-linear-gradient(bottom, #E4E4E4, #FFF 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#E4E4E4');
}