<div 	class="slideshow" 
				onselectstart="return false" 
				onmousedown="return false">
	<a class="prevbtnimg" ng-click="$ctrl.prevImage()">
		<div class="btn-inside left"></div>
	</a>
	<div class="carousel">
		<ul class="thumbs-imgs" style="left:{{$ctrl.shift}}px; width:{{$ctrl.filmWidth}}px">
			<li ng-repeat="(key, img) in $ctrl.data">
				<img 	class="frames" 
							ng-src="{{$ctrl.getSmallImg(key)}}"
							ng-click="$ctrl.openPopUp(key)"
							/>
							<!-- ng-if="$ctrl.getShowFlag(key)" -->
			</li>
		</ul>
	</div>
	<a class="nextbtnimg" ng-click="$ctrl.nextImage()">
		<div class="btn-inside right"></div>
	</a>

	<div 	class="popUpImg-bg" 
				ng-if="$ctrl.showPopUpImg">
		<div class="popUpImg" style="margin-left: {{$ctrl.bigMargine}}px">
			<div class="close" ng-click="$ctrl.closePopUp()">x</div>
			<div class="popUpMsg">{{$ctrl.getTitle()}}</div>
			<a 	class="prevbtnimg big" 
					ng-click="$ctrl.prevImage()">
				<div class="btn-inside left"></div>
			</a>
			<img 	class="bigimg"
						ng-src="{{$ctrl.getBigImg()}}" 
						ng-click="$ctrl.nextImage()"/>
			<a 	class="nextbtnimg big" 
					ng-click="$ctrl.nextImage()">
				<div class="btn-inside right"></div>
			</a>
		</div>
	</div>
</div>