.content{
	width: 694px;
	float: left;
	margin-left: 5px;
	margin-top: 5px;
	background: #FFF none repeat scroll 0% 0%;
	border: 1px solid #BBB;
	border-radius: 7px;
	padding: 10px;
}

.content a.menuitem {
	height:180px;
	font-size:12px;
	float:left;border:1px solid #A5A5A5;
	text-align:center;
	vertical-align:top;
	position:relative;
	border-radius:7px;
	background:none repeat scroll 0 0 #FFFFFF;
	width:167px;
	margin:1px;
	padding:3px 1px 10px;
	cursor: pointer;
	line-height: 1;
	transition: all 200ms ease-out;
}

.content a.menuitem:hover {
	border:1px solid #FF6E00;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transition: all 200ms ease-out;
}

.content a.menuitem span.text{
	font-size: 14px;
	font-weight: bold;
	color: #444;
	line-height: 100%;
}

.content a.menuitem img.btn{
	border: 0px solid;
}